body {
  padding: 50px;
  font: 16px "Palanquin", Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color: #262626;
}

.logo {
  text-align: center;
  margin: auto;
  display: block;
}

.container {
  margin: 24px auto;
  padding: 24px 0px;
  border-top: #d80000 3px solid;
}

.clr {
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, p {
  padding: 5px 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

a {
  color: #404137;
  text-decoration: none;
}

.nav {
  background: #404137;
  color: #eee;
  overflow: auto;
  height: 40px;
  padding: 16px 4px;
  font-size: 18px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li {
  float: left;
  list-style: none;
}

.nav a {
  padding: 10px;
  margin: 0 10px;
  color: #fff;
}

.nav a.current, .nav a:hover {
  background: #ba0303;
  color: #eee;
}

.meta {
  padding: 8px;
  border: 1px solid #eee;
  background: #ccc;
}

a.more {
  display: inline-block;
  background: #404137;
  color: #fff;
  padding: 10px;
}

.post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

label {
  display: inline-block;
  width: 180px;
}

input,select, textarea {
  margin-bottom: 16px;
}

input[type='text'], select, textarea {
  padding: 3px;
  height: 20px;
  width: 200px;
  border: 1px solid #ccc;
}

select {
  height: 28px;
}

textarea {
  height: 70px;
  width: 400px;
}
